#CanvaContainer, #BulletsContainer {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#CanvaContainer {
    z-index: 0;
    pointer-events: auto;
}

#BulletsContainer {
    z-index: 1;
}

#StatsContainer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}
#EquipmentDiv{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 60%;
    pointer-events: none;
    background-color: pink;
}
.TutorialDiv {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: yellow;
    bottom: 0;
    display: none;
}
#MoveTutorial {
    display: block;
}
#HealthBar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 20px;
    background-color: green;
}
