#CanvaContainer, #BulletsContainer {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#CanvaContainer {
    z-index: 0;
    pointer-events: auto;
}

#BulletsContainer {
    z-index: 1;
}

#EquipmentDiv {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 60%;
    pointer-events: none;
    background-color: black;
    border: 4px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
}
.InventoryShopElement {
    width: 100%;
    font-family: 'Jersey 20', sans-serif;
    font-size: 32px;
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
}
#InventoryHintText {
    font-family: 'Jersey 20', sans-serif;
    font-size: 24px;
    color: yellow;
    margin-top: 10px;
    text-align: center;
}

.TutorialDiv {
    position: absolute;
    width: 60%;
    height: 15%;
    background-color: black;
    left: 20%;
    bottom: 10%;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 4px solid yellow;
}
#MoveTutorial {
    display: flex;
}
.HintText {
    font-size: 64px;
    font-family: "Jersey 20", sans-serif;
    color: yellow;
}

#HealthBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 1;
}
#HealthBarContainer {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    box-sizing: content-box
}
#HealthBarInformation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-family: "Jersey 20", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
}

.ResourceImage {
    display: none;
}

#LevelContainer {
    left: 0;
    border-right: 2px solid yellow;
}
#CoinsContainer {
    right: 0;
    border-left: 2px solid yellow;
    width: 150px;
}
.StatsContainer {
    position: absolute;
    height: 30px;
    width: 90px;
    top: 0;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: yellow;
    font-family: "Jersey 20", sans-serif;
    border-bottom: 2px solid yellow;
}

